<h1><%= photo_tag(@user.photo, :medium) %> <%=h @user.name %></h1>
<%= link_to('edit profile', edit_user_path(current_user)) if self_view?(@user) %>

<h3><%=h self_view?(@user) ? 'Your' : "#{@user.name}'s" %> sites</h3>
<ul>
  <%- @user.claims.each do |claim| -%>
    <li>
      <%= icon_link_to(claim.url) %>, 
      claimed at <%= display_date(claim.created_at) %>
      <%- if false -%>
      <ul>
        <%- claim.site.namings.each do |naming| -%>
          <li>
            <%= link_to(photo_tag(naming.user.photo, :mini), user_path(naming.user),
                :title => "#{h naming.user.name} named it #{h naming.name}") %>:
            <%=h naming.name %>
          </li>
        <%- end -%>
      </ul>
      <%- end -%>
    </li>
  <%- end -%>
  
  <%- @user.representing_namings.each do |naming| -%>
    <li>
      <%= icon_link_to(naming.url) %>,
      connected to you by <%= small_user(naming.user) %>
    </li>
  <%- end -%>

</ul>
<%- if self_view?(@user) -%>
  <%- form_for :claim, :url => user_claims_path(@user) do |form| -%>
    <label for="claim_url">URL:</label>
    <%= form.text_field(:url) %>
    <%= submit_tag('Claim this url') %>
  <%- end -%>
<%- end -%>

<h3>Colleages</h3>
<ul>
  <%- @user.colleages.each do |user| -%>
    <li><%= small_user(user) %></li>
  <%- end -%>
</ul>

<h3>People <%=h self_view?(@user) ? 'you know' : "#{@user.name} knows" %></h3>
<ul>
  <%- @linked_people.each do |person| -%>
    <li>
      <%=h person.name %>
      <%- representing_users = person.representing_users.collect {|u| small_user(u)}.uniq -%>
      <%- unless representing_users.empty? -%>
        represented by
        <%= representing_users.join(', ') %>
      <%- end -%>
      <%- if false -%>
      <%- if user = person.user -%>
        <%= small_user(user, :name => person.name) %>
      <%- else -%>
        <%=h person.name %> | <%= link_to_function("Invite #{person.name}") %>
      <%- end -%>
      <%- if false -%>
      <ul>
        <%- person.namings.each do |naming| -%>
          <li>
            <%= auto_link naming.url %>
            <%- if false && naming.site.claimed? -%>
              (claimed by 
              <%= naming.site.claims.collect {|claim| link_to(claim.user.name, user_path(claim.user)) }.join(',') %>)
            <%- end -%>
          </li>
        <%- end -%>
      </ul>
      <%- end -%>
      <%- end -%>
    </li>
  <%- end -%>
</ul>

<h3>People <%=h @user.name %> represents</h3>
<ul>
  <%- @user.represented_people.each do |person| -%>
    <li>
      <%=h person.name %>
      (by <%= small_user(person.user) %>)
    </li>
  <%- end -%>
</ul>

<h3>People <%=h self_view?(@user) ? 'who know you' : "who know #{@user.name}" %></h3>
<ul>
  <%- @linking_users.each do |user| -%>
    <li>
      <%= small_user(user, :name => user.name) %>
    </li>
  <%- end -%>
</ul>

<h3>Namings <%=h self_view?(@user) ? 'you' : @user.name %> created</h3>
<ul>
  <%- @created_namings.each do |naming| -%>
    <li><%=h naming.name %> - <%= auto_link naming.url %></li>
  <%- end -%>
</ul>

<%- if self_view?(@user) -%>
  <%= error_messages_for :naming %>
  <%- form_for :naming, :url => user_namings_path(@user) do |form| -%>
    <label for="naming_url">URL:</label>
    <%= form.text_field(:url) %>
  
    <label for="naming_name">Name:</label>
    <%= form.text_field(:name) %>
  
    <p><%= submit_tag('Connect') %></p>
  <%- end -%>
<%- end -%>
