<h1><%= photo_tag(@user.photo, :medium) %> <%=h @user.name %></h1>
<%= link_to('edit profile', edit_user_path(current_user)) if self_view?(@user) %>

<h3><%=h self_view?(@user) ? 'Your' : "#{@user.name}'s" %> claimed sites</h3>
<ul>
  <%- @claimed_sites.each do |site| -%>
    <li>
      <%= icon_link_to(site.url) %> <%= auto_link site.url %>
      <%- if false -%>
      <ul>
        <%- site.connections.each do |connection| -%>
          <li>
            <%= link_to(photo_tag(connection.user.photo, :mini), user_path(connection.user),
                :title => "#{h connection.user.name} named it #{h connection.name}") %>:
            <%=h connection.name %>
          </li>
        <%- end -%>
      </ul>
      <%- end -%>
    </li>
  <%- end -%>
</ul>
<%- if self_view?(@user) -%>
  <%- form_for :claim, :url => claims_path do |form| -%>
    <label for="claim_url">URL:</label>
    <%= form.text_field(:url) %>
    <%= submit_tag('Claim this url') %>
  <%- end -%>
<%- end -%>

<h3>Colleages</h3>
<ul>
  <%- @user.colleages.each do |user| -%>
    <li><%= small_user(user) %></li>
  <%- end -%>
</ul>

<h3>People <%=h self_view?(@user) ? 'you know' : "#{@user.name} knows" %></h3>
<ul>
  <%- @linked_people.each do |person| -%>
    <li>
      <%=h person.name %>
      <%- representing_users = person.representing_users.collect {|u| small_user(u)}.uniq -%>
      <%- unless representing_users.empty? -%>
        represented by
        <%= representing_users.join(', ') %>
      <%- end -%>
      <%- if false -%>
      <%- if user = person.user -%>
        <%= small_user(user, :name => person.name) %>
      <%- else -%>
        <%=h person.name %> | <%= link_to_function("Invite #{person.name}") %>
      <%- end -%>
      <%- if false -%>
      <ul>
        <%- person.connections.each do |connection| -%>
          <li>
            <%= auto_link connection.url %>
            <%- if false && connection.site.claimed? -%>
              (claimed by 
              <%= connection.site.claims.collect {|claim| link_to(claim.user.name, user_path(claim.user)) }.join(',') %>)
            <%- end -%>
          </li>
        <%- end -%>
      </ul>
      <%- end -%>
      <%- end -%>
    </li>
  <%- end -%>
</ul>

<h3>People <%=h @user.name %> represents</h3>
<ul>
  <%- @user.represented_people.each do |person| -%>
    <li>
      <%=h person.name %>
      (by <%= small_user(person.user) %>)
    </li>
  <%- end -%>
</ul>

<h3>People <%=h self_view?(@user) ? 'who know you' : "who know #{@user.name}" %></h3>
<ul>
  <%- @linking_users.each do |user| -%>
    <li>
      <%= small_user(user, :name => user.name) %>
    </li>
  <%- end -%>
</ul>

<h3>Connections <%=h self_view?(@user) ? 'you' : @user.name %> created</h3>
<ul>
  <%- @created_connections.each do |connection| -%>
    <li><%=h connection.name %> - <%= auto_link connection.url %></li>
  <%- end -%>
</ul>

<%- if self_view?(@user) -%>
  <%= error_messages_for :connection %>
  <%- form_for :connection, :url => connections_path do |form| -%>
    <label for="connection_url">URL:</label>
    <%= form.text_field(:url) %>
  
    <label for="connection_name">Name:</label>
    <%= form.text_field(:name) %>
  
    <p><%= submit_tag('Connect') %></p>
  <%- end -%>
<%- end -%>
