<%= photo_tag(@user.photo, :medium) %>

<h1><%=h @user.name %></h1>
<%= link_to('edit profile', edit_user_path(current_user)) if self_view?(@user) %>

<div>
  <strong><%=h self_view?(@user) ? 'Your' : "#{@user.name}'s" %> claimed sites</strong>
  <ul>
    <%- @claims.each do |claim| -%>
      <li>
        <%=h claim.label %> - <%= auto_link claim.url %>
        <ul>
          <%- claim.site.connections.each do |connection| -%>
            <li>
              <%= link_to(connection.user.name, user_path(connection.user)) %>
              named it <%=h connection.name %>
            </li>
          <%- end -%>
        </ul>
      </li>
    <%- end -%>
  </ul>
  <%- if self_view?(@user) -%>
    <%- form_for :claim, :url => claims_path do |form| -%>
      <label for="claim_url">URL:</label>
      <%= form.text_field(:url) %>
      <label for="claim_label">Label:</label>
      <%= form.text_field(:label) %>
      <p><%= submit_tag('Claim this url') %></p>
    <%- end -%>
  <%- end -%>
</div>

<strong>People <%=h self_view?(@user) ? 'you know' : "#{@user.name} knows" %></strong>
<ul>
  <%- @people.each do |person| -%>
    <li>
      <%=h person.name %> 
      <ul>
        <%- person.connections.each do |connection| -%>
          <li>
            <%= auto_link connection.url %>
            <%- if connection.site.claimed? -%>
              (claimed by 
              <%= connection.site.claims.collect {|claim| link_to(claim.user.name, user_path(claim.user)) }.join(',') %>)
            <%- end -%>
          </li>
        <%- end -%>
      </ul>
    </li>
  <%- end -%>
</ul>

<strong>Connections <%=h self_view?(@user) ? 'you' : @user.name %> created</strong>
<ul>
  <%- @connections.each do |connection| -%>
    <li><%=h connection.name %> - <%= auto_link connection.url %></li>
  <%- end -%>
</ul>

<%- if self_view?(@user) -%>
  <%= error_messages_for :connection %>
  <%- form_for :connection, :url => connections_path do |form| -%>
    <label for="connection_url">URL:</label>
    <%= form.text_field(:url) %>
  
    <label for="connection_name">Name:</label>
    <%= form.text_field(:name) %>
  
    <p><%= submit_tag('Connect') %></p>
  <%- end -%>
<%- end -%>
